
.fa {
    padding: 10px;
    font-size: 30px;
    width: 10px;
    text-decoration: none;
    margin: 5px 15px;
}

body{
    padding: 15px;
    margin: 20px;
    background-color: wheat;
}
.intro{
    background-color: rgb(212, 160, 62);
    border-radius: 10px;
    padding: 40px;
    margin: 5px;
}
.aboutme{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    float: none;
    align-content: center;
    text-align: center;
}
.handles{
    background-color: rgb(255, 226, 172);
    border-radius: 10px;
}

.skills{
    background-color: rgb(212, 160, 62);
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2{
    color: rgb(96, 11, 11);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
.projects{
    background-color: rgb(212, 160, 62) ;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}
.p1, .p2, .p3, .p4{
    background-color: rgb(255, 226, 172);
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}
img{
    height: 30px;
    width: 30px;
}